.containerSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FFE600;
}

.inputBuscador{
    display: flex;
    width: 800px;
    height: 30px;
}

.img-logo{
    display: flex;
    width: 40px;
    height: 30px;
    margin-right: 20px;
}

.lupa-logo{
    width: 18px;
    height: 17px;
}

.btnLupa{
    height: 29px;
    margin-left: -42px;
    margin-top: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border: none;
}

.form{
    display: flex;

}
.button-logo{
    width: 50px;
    background-color: #FFE600;
    border: none;
    margin-right: 20px;
}