.principalContainerProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #eee;
   
}

.containerProductos{
    display: flex;
    flex-direction:column;
    
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 1200px;
    background-color: white;
    border-radius: 5px;
  

}
.navProductos{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    margin: 10px 0;
}