.container-details{
    display: flex;
padding: 0 50px 0 0;
    width: 100%;
    height: 100%;

}
.img-details-product{
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 600px;
    margin: 20px 0 20px 20px;
}
.details-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 250px;
    margin:20px 10px 0 40px
}

.button-buy{
    border: none;
    width: 200px;
    height: 40px;
    background-color: #3483FA;
    color:white;
    border-radius: 5px;
    margin-top: 32px;
}
.details-description{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 10px 0 10px 20px;

}
.description-text{
    margin:20px 0;
}

.product-condition{
    width: 250px;
}

.title-product-detail{
    color:#333333;
    font-size: 20px;
    font-weight:900;
}
.price-detail{
    color:#333333;
    margin-top: 10px;
    font-size: 40px;
    font-weight:400
}
.description-product-detail{
   
    font-size: 20px;
    font-weight:500
}